.body {
    height: 1400px;
    width: 1520px;
    background-color: lightgray;
}
.bodyimg1 {
    height: 600px;
    width: 1530px;
}

.body p{
    position: absolute;
    margin-left: 600px;
    font-size: 50px;

    margin-top: -480px;
    margin-left: 380px;
    color: white;
}
.body p1{
    position: absolute;
    margin-left: 600px;
    font-size: 25px;
    margin-top: -390px;
    margin-left: 300px;
    color: white;
}
.explorebutton {
    position: absolute;
    margin-top: -300px;
    margin-left: 650px;
    width: 200px;
    height: 50px;
    border-radius: 25px ;
    border: none;
    background-color: #50b68e;
    color: white;
    font-size: 17px;
}

.bodylogo1 {
   position: absolute;
   margin-top: 280px;
   height: 80px;
   margin-left: 100px;
}

.body2 p{
    position: absolute;
    margin-top: 380px;
    color: black;
    font-size: 30px;
    margin-left: 100px;
}
.body2 p1{
    position: absolute;
    margin-top: 430px;
    color: black;
    margin-left: 100px;
    font-size: 17px;
}
.bodyimg2 {
    position: absolute;
    margin-left: 800px;
    margin-top: 100px;
    height: 650px;
    width: 650px;
}

.body3 p{
    position: absolute;
    margin-top: 850px;
    color: #50b68e ;
    margin-left: 600px;
    font-size: 100px;
}
.body3 p1{
    position: absolute;
    margin-top: 990px;
    margin-left: 480px;
    color: black;
    font-weight:bold;
    font-size: 45px;

}
.body3 p2{
    position: absolute;
    margin-top: 1100px;
    margin-left: 350px;
    text-align: center;
    color: black;
}

.body4 {
    position: absolute;
    height: 250px;
    width: 1500px;
    margin-top: 1170px;
    background-color: white;
}

.organic1 {
    margin-top: 50px;
    margin-left: 200px;
    color: black;
}

.organic { 
    margin-top: 50px;
    margin-left: 40px;
    color: black;
    text-decoration: none;
}
.organic2 {
    margin-left: 180px;
    color: black;
    text-decoration: none;
}
.organic3 {
    margin-left: 150px;
    color: black;
    text-decoration: none;
}
.organic4 {
    margin-left: 460px;
    color: black;
    text-decoration: none;
}